# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
tf.__version__

'2.3.0'

In [3]:
import sys

In [4]:
sys.version

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'

# Data Preprocessing

# Importing Dataset

In [5]:
df = pd.read_csv(r'C:\Users\Hp\Churn_Modelling.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

# Numerical Variables in the dataset

In [7]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

# Categorical Variables in the dataset

In [8]:
colname=[]

for x in df.columns:
    if df[x].dtype==object:
        colname.append(x)
colname

['Surname', 'Geography', 'Gender']

In [9]:
df['Surname'].value_counts()

Smith     32
Martin    29
Scott     29
Walker    28
Brown     26
          ..
Nworie     1
Mouzon     1
Jacka      1
Grover     1
Kable      1
Name: Surname, Length: 2932, dtype: int64

In [10]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [11]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

# Encoding categorical variables

Since the geography has more than 2 classes in its column so we perform one hot encoding but we can perform Label Encoding on Gender column, since the Surname doesn't contribute to our model we can ignore that column.

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
from sklearn.preprocessing import OneHotEncoder
enc= OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(df[['Geography']]).toarray())
df = df.join(enc_df)
df.head()    #France: 1 0 0, Germany : 0 1 0 ,Spain : 0 0 1

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,0,1,2
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
df.columns

Index([      'RowNumber',      'CustomerId',         'Surname',
           'CreditScore',       'Geography',          'Gender',
                   'Age',          'Tenure',         'Balance',
         'NumOfProducts',       'HasCrCard',  'IsActiveMember',
       'EstimatedSalary',          'Exited',                 0,
                       1,                 2],
      dtype='object')

In [15]:
column_names = [ 'RowNumber',      'CustomerId',         'Surname',
           'CreditScore',       'Geography',          'Gender',
                   'Age',          'Tenure',         'Balance',
         'NumOfProducts',       'HasCrCard',  'IsActiveMember',
       'EstimatedSalary',                           0,
                       1,                 2, 'Exited']

In [16]:
df = df.reindex(columns = column_names)

In [17]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,0

In [18]:
df1 = pd.DataFrame(df)

In [19]:
df1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,0

In [20]:
def drop_var(name):
    df.drop(name, axis = 1, inplace = True )

In [21]:
drop_var('Geography')

In [22]:
drop_var('RowNumber')

In [23]:
drop_var('CustomerId')

In [24]:
drop_var('Surname')

In [25]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,Exited
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,0

# Splitting X and Y

In [26]:
X = df.values[:,:-1]
Y = df.values[:,-1]

In [27]:
X

array([[619.,   0.,  42., ...,   1.,   0.,   0.],
       [608.,   0.,  41., ...,   0.,   0.,   1.],
       [502.,   0.,  42., ...,   1.,   0.,   0.],
       ...,
       [709.,   0.,  36., ...,   1.,   0.,   0.],
       [772.,   1.,  42., ...,   0.,   1.,   0.],
       [792.,   0.,  28., ...,   1.,   0.,   0.]])

In [28]:
Y

array([1., 0., 1., ..., 1., 1., 0.])

# Train Test Split

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 101)

# Feature Scaling

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Building ANN

# Initializing ANN

In [31]:
ann = tf.keras.models.Sequential()

# Adding the input layer and first hidden layer

In [32]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Adding the input layer and first hidden layer

In [33]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Adding the output layer

In [34]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Part 3 - Training the ANN

# Compiling the ANN

In [35]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Training the ANN on the Training set

In [36]:
ann.fit(X_train, Y_train, batch_size = 32, epochs = 100)

Epoch 1/100
219/219 [==============================] - 0s 1ms/step - loss: 0.6246 - accuracy: 0.6681
Epoch 2/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4642 - accuracy: 0.8047
Epoch 3/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4409 - accuracy: 0.8131
Epoch 4/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4301 - accuracy: 0.8190
Epoch 5/100
219/219 [==============================] - ETA: 0s - loss: 0.4266 - accuracy: 0.81 - 0s 2ms/step - loss: 0.4222 - accuracy: 0.8206
Epoch 6/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4145 - accuracy: 0.8254
Epoch 7/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4073 - accuracy: 0.8280
Epoch 8/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4007 - accuracy: 0.8334
Epoch 9/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8339
Epoch 10/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8387
Epoch 11/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3863 - accuracy: 0.8396
Epoch 12/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3824 - accuracy: 0.8413
Epoch 13/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3787 - accuracy: 0.8433
Epoch 14/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3753 - accuracy: 0.8447
Epoch 15/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3716 - accuracy: 0.8449
Epoch 16/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8483
Epoch 17/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3645 - accuracy: 0.8496
Epoch 18/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8501
Epoch 19/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3588 - accuracy: 0.8529
Epoch 20/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3567 - accuracy: 0.8537
Epoch 21/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3544 - accuracy: 0.8544
Epoch 22/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8553
Epoch 23/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8580
Epoch 24/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8579
Epoch 25/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8583
Epoch 26/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8596
Epoch 27/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8577
Epoch 28/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8601
Epoch 29/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8591
Epoch 30/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8591
Epoch 31/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8589
Epoch 32/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8590
Epoch 33/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8596
Epoch 34/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8600
Epoch 35/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8614
Epoch 36/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8607
Epoch 37/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8604
Epoch 38/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8616
Epoch 39/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8603
Epoch 40/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8599
Epoch 41/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8616
Epoch 42/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8603
Epoch 43/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8620
Epoch 44/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8606
Epoch 45/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8613
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8619
Epoch 47/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8616
Epoch 48/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8611
Epoch 49/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8607
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 51/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8597
Epoch 52/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3375 - accuracy: 0.8606
Epoch 53/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8646
Epoch 54/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8626
Epoch 55/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8620
Epoch 56/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8640
Epoch 57/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8614
Epoch 58/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8626
Epoch 59/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8627
Epoch 60/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8620
Epoch 61/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8636
Epoch 62/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8626
Epoch 63/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8614
Epoch 64/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8621
Epoch 65/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8619
Epoch 66/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8627
Epoch 67/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8619
Epoch 68/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8610
Epoch 69/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8621
Epoch 70/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8640
Epoch 71/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8624
Epoch 72/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8613
Epoch 73/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8613
Epoch 74/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 75/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8627
Epoch 76/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8627
Epoch 77/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8613
Epoch 78/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8630
Epoch 79/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8616
Epoch 80/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8623

Epoch 81/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8624
Epoch 82/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8646
Epoch 83/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8633
Epoch 84/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8613
Epoch 85/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8629
Epoch 86/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8647
Epoch 87/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8636
Epoch 88/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8631
Epoch 89/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8624
Epoch 90/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8620
Epoch 91/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8619
Epoch 92/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8636
Epoch 93/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8621
Epoch 94/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8633
Epoch 95/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8620
Epoch 96/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8631
Epoch 97/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8637
Epoch 98/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8637
Epoch 99/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8633
Epoch 100/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8627

# Part 4 - Making the predictions and evaluating the model

# Predicting the result of a single observation

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [37]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))) #Probability of cust. leaving the bank

[[0.]]

In [38]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5) #Customer's final outcome

[[False]]

# Predicting Test Results

In [39]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), Y_test.reshape(len(Y_test),1)),1))

[[0. 0.]
 [0. 0.]
 [0. 1.]
 ...
 [0. 0.]
 [1. 0.]
 [1. 1.]]

In [40]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, y_pred)
print(cm)
accuracy_score(Y_test, y_pred)

[[2267  111]
 [ 293  329]]

0.8653333333333333